<{include file="$temple_folder/header.html"}>
<script type="text/javascript">
	function del_data(_id){
		if(confirm('确定删除吗？？'))
		{
		$.ajax({ 								
							type: "POST", 						
							url : "admin.php?action=man&do=del",					
							data: {id:_id}, 	
							success: function(result){			
								location.reload();
							}
						});
		}
	}
	
</script>

<body leftmargin="2" topmargin="0" marginwidth="0" marginheight="0">
<input id="order_name" type="checkbox" value="<{$order_name}>" name="order_name" style="display:none;">
<input id="order_by" type="checkbox" value="<{$order_by}>" name="order_by" style="display:none;">
<h1>
	<span class="action-span1"> 团队管理-团队列表 </span>
</h1>
<div class="form-div">
	  <form action="?action=man&do=list" name="searchForm" method="post">
	    
	    标题
	    <input type="text" name="keyword" value="<{$keyword}>" size="30" />
	    <input type="submit" value=" 搜索 " class="button" />
        </div>
	  </form>
	</div>
<div class="list-div" id="listDiv">
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="list-table">
		<tr class="tdbg">
			<td width="70" height="30">快捷操作：</td>
			<td height="30"><a href="?action=man&do=list">首页</a>&nbsp;|&nbsp;<a href="?action=man&do=add">添加团队人员</a></td>
		</tr>
	</table>
	<div class="clear"></div>
</div>
	
<div class="list-div" style="margin-top:10px;" >
			<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="list-table">
				<tr align="center" class="title" >
					<th class="check_pointer"> 人员名称 </th>
                    <th class="check_pointer"> 图片 </th>
                     <th class="check_pointer">排序</th>
					<th class="check_pointer"> 添加时间 </th>
					<th> 操作向导 </th>
				</tr>
			 <{foreach from=$result.result item=r}>
				<tr align="center" class="tdbg"  onMouseOut="this.style.backgroundColor=''" onMouseOver="this.style.backgroundColor='#BFDFFF'">
					<td height="22"> <{$r.m_title}></td>
                    <td height="22"> <img src="<{$r.m_pic}>" width='100'/></td>
                    <td height="22"><{$r.m_order}></td>
					<td height="22"> <{$r.add_time|date_format:"%Y-%m-%d %H:%M:%S"}></td>
					<td  width="150" height="22">
						<a href="javascript:;" id="dialog_del" onClick="del_data(<{$r.m_id}>);" >删除</a>&nbsp;
						<a href="?action=man&do=add&type=edit&id=<{$r.m_id}>">修改</a>
					</td>
				</tr>
			  <{/foreach}>
			</table>
			<div style="margin-top:10px;text-align:left;">
			&nbsp;&nbsp;&nbsp;&nbsp;
				总记录数：<{$result.total}>&nbsp;&nbsp;<{if $result.total}><{$result.pages}><{/if}>
			</div>
</div>
<{include file="$temple_folder/footer.html"}>

