<html>
<head>
<title>管理员管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/jquery.ui.all.css" rel="stylesheet" type="text/css">
<link href="css/demos.css" rel="stylesheet" type="text/css">
<script src="js/jquery.js"></script>
<script src="js/func.js"></script>
<script src="js/jquery-1.4.4.js"></script>
<script src="js/jquery.bgiframe-2.1.2.js"></script>
<script src="js/jquery.ui.core.js"></script>
<script src="js/jquery.ui.widget.js"></script>
<script src="js/jquery.ui.mouse.js"></script>
<script src="js/jquery.ui.draggable.js"></script>
<script src="js/jquery.ui.position.js"></script>
<script src="js/jquery.ui.resizable.js"></script>
<script src="js/jquery.ui.dialog.js"></script>
<script src="js/jquery.ui.autocomplete.js"></script>
<script src="js/jquery.ui.datepicker.js"></script>
</head>