<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>皮乐中国-管理后台</title>
</head>
<frameset rows="76,*" framespacing="0" border="0">
  <frame src="?action=top" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
  <frameset cols="200, 10, *" framespacing="0" border="0" id="frame-body">
    <frame src="?action=left" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes">
    <frame src="?action=drag" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no">
    <frame src="?action=main" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">
  </frameset>
</frameset>
<noframes>
  <body leftmargin="2" topmargin="0" marginwidth="0" marginheight="0">
  <p>你的浏览器版本过低！！！本系统要求IE5及以上版本才能使用本系统。</p>
  </body>
</noframes>
</html>
