<{include file="$temple_folder/header.html"}>

<body>

<style>

.ui-button { margin-left: -1px; }

.ui-button-icon-only .ui-button-text { padding: 0.35em; } 

.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

</style>

<form method="post" action="?action=ip&do=<{if $type == 'edit'}>update&id=<{$id}><{else}>insert<{/if}>" name="add_form" id="add_form" enctype="multipart/form-data">

<h1>

	<span class="action-span1"><strong><{if $type == 'edit'}>修改ip<{else}>添加ip<{/if}></strong></span>

</h1>

<div class="list-div" id="listDiv">

	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="list-table">

		<tr class="tdbg">

			<td width="70" height="30">快捷操作：</td>

			<td height="30"><a href="?action=ip&do=list">首页</a>&nbsp;|&nbsp;<a href="?action=ip&do=add">添加ip</a></td>

		</tr>

	</table>

	<div class="clear"></div>

</div>



<div class="list-div" style="margin-top:10px;" >

	<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="list-table" >

		<tr class="tdbg">

		  <td width="100" class="tdbg right_title"><strong>ip1：</strong></td>

		  <td class="tdbg"><input name="ip1" id="ip1" type="text" value="<{$result[0].ip1}>" size="5">（1-255）</td>

		</tr>

		<tr class="tdbg">

		  <td width="100" class="tdbg right_title"><strong>ip2：</strong></td>

		  <td class="tdbg"><input name="ip2" id="ip2" type="text" value="<{$result[0].ip2}>" size="5">（1-255）</td>

		</tr>
        <tr class="tdbg">

		  <td width="100" class="tdbg right_title"><strong>ip3：</strong></td>

		  <td class="tdbg"><input name="ip3" id="ip3" type="text" value="<{$result[0].ip3}>" size="5">（1-255）</td>

		</tr>
		<tr class="tdbg">

		  <td width="100" class="tdbg right_title"><strong>ip4：</strong></td>

		  <td class="tdbg"><input name="ip4" id="ip4" type="text" value="<{$result[0].ip4}>" size="5">（1-255，如果是ip段 这个地方填*）</td>

		</tr>
        <tr class="tdbg">

		  <td  class="tdbg right_title" colspan="2">说明：ip1.ip2.ip3.ip4 组成一个ip</td>


		</tr>
		<tr class="tdbg">

		  <td width="100" class="tdbg right_title"><strong>是否开启：</strong></td>

		  <td class="tdbg">

			<input type="radio" name="isopen" value="1" <{if $result[0].isopen == 1}>checked <{/if}> />是 &nbsp;&nbsp;<input type="radio" name="isopen" value="0" <{if $result[0].isopen == 0}>checked <{/if}> />否

		  </td>

		</tr>

		<tr>

			<td height="40" colspan="2" align="center" class="tdbg">

				<input id="dialog_edit" class="button"  type="submit" name="Submit" value="<{if $type == 'edit'}>保存<{else}>添加<{/if}>" style="cursor:hand;">

				&nbsp;

				<input name="Cancel" class="button" type="reset" id="Cancel" value="取消" style="cursor:hand;" onClick="go_cate_list();">

			</td>

		</tr>

	</table>

</div>

</form>
<{include file="$temple_folder/footer.html"}>



